<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="skynotedenormalizeddbEntities1" connectionString="metadata=res://*/SkyNoteDenormalizedModel.csdl|res://*/SkyNoteDenormalizedModel.ssdl|res://*/SkyNoteDenormalizedModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=br-cdbr-azure-south-a.cloudapp.net;user id=ba477d07940f80;password=4594d0b1;persistsecurityinfo=True;database=skynotedbdenormasia&quot;" providerName="System.Data.EntityClient" />
    <add name="skynotedenormalizeddbEntities" connectionString="metadata=res://*/SkyNoteDenormalizedModel1.csdl|res://*/SkyNoteDenormalizedModel1.ssdl|res://*/SkyNoteDenormalizedModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eu-cdbr-azure-north-d.cloudapp.net;user id=bc984520b11567;password=81a91e4c;persistsecurityinfo=True;database=skynotedenormalizeddb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>