<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://skynotepg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skynotepg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>skynotepg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$skynotepg</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="skynotedenormalizeddbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=eu-cdbr-azure-north-d.cloudapp.net;user id=b1e0ecf5a12c01;password=ce45a88f;persistsecurityinfo=True;database=SkyNoteDBDenormalized" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\skynotedenormalizeddbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SkyNoteDenormalizedModel1.csdl|res://*/SkyNoteDenormalizedModel1.ssdl|res://*/SkyNoteDenormalizedModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eu-cdbr-azure-north-d.cloudapp.net;user id=b1e0ecf5a12c01;password=ce45a88f;persistsecurityinfo=True;database=SkyNoteDBDenormalized&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="skynotedbEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=eu-cdbr-azure-north-d.cloudapp.net;user id=b2465c3ed78523;password=c1b040cb;persistsecurityinfo=True;database=SkyNoteDBNormal" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\skynotedbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SkyNoteModel.csdl|res://*/SkyNoteModel.ssdl|res://*/SkyNoteModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eu-cdbr-azure-north-d.cloudapp.net;user id=b2465c3ed78523;password=c1b040cb;persistsecurityinfo=True;database=SkyNoteDBNormal&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>