<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://skynoteasiatest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>skynoteasiatest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SkyNoteAsiaTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SkyNoteAsiaTest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="skynotedenormalizeddbEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=br-cdbr-azure-south-a.cloudapp.net;user id=ba477d07940f80;password=4594d0b1;persistsecurityinfo=True;database=SkyNoteDBDenormAsia" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\skynotedenormalizeddbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SkyNoteDenormalizedModel1.csdl|res://*/SkyNoteDenormalizedModel1.ssdl|res://*/SkyNoteDenormalizedModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=br-cdbr-azure-south-a.cloudapp.net;user id=ba477d07940f80;password=4594d0b1;persistsecurityinfo=True;database=SkyNoteDBDenormAsia&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="skynotedbEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=br-cdbr-azure-south-a.cloudapp.net;user id=b86f511f15c6b1;password=055c44a4;persistsecurityinfo=True;database=SkyNoteDBAsia" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\skynotedbEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SkyNoteModel.csdl|res://*/SkyNoteModel.ssdl|res://*/SkyNoteModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=br-cdbr-azure-south-a.cloudapp.net;user id=b86f511f15c6b1;password=055c44a4;persistsecurityinfo=True;database=SkyNoteDBAsia&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)skynotedbEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>